<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631244598776-v0mc6v7nmagpl545orskcgb4qmkrh8r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631244598776-v0mc6v7nmagpl545orskcgb4qmkrh8r7</string>
	<key>API_KEY</key>
	<string>AIzaSyCB166GmFM-MLuy24REsp3K1RE3uNtLqyA</string>
	<key>GCM_SENDER_ID</key>
	<string>631244598776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.BirthdayApp</string>
	<key>PROJECT_ID</key>
	<string>birthday-app-b71fa</string>
	<key>STORAGE_BUCKET</key>
	<string>birthday-app-b71fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631244598776:ios:1a3e65af22558b3cb8fa0d</string>
</dict>
</plist>